<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="8d728d77-fb85-4af5-8d2e-0e185ca84484"
    Publisher="CN=Oussidi_Mohamed"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="8d728d77-fb85-4af5-8d2e-0e185ca84484" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>App</DisplayName>
    <PublisherDisplayName>Oussidi_Mohamed</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="App2.App">
      <uap:VisualElements
        DisplayName="Gestion des étudiants"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="La gestion est l&apos;administration d&apos;une organisation, qu&apos;il s&apos;agisse d&apos;une entreprise, d&apos;un organisme sans but lucratif ou d&apos;un organisme gouvernemental."
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>