<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projet3_WPF.Properties.Settings.gestion_etudiant_wpfConnectionString"
            connectionString="Data Source=DESKTOP-R92HGV7;Initial Catalog=gestion_etudiant_wpf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Projet3_WPF.Properties.Settings.gestion_etudiant_wpfConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=gestion_etudiant_wpf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>